/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    color:#7B7979;
    font-size: 0.9em;
}
body a {
	text-decoration: none;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color:black;
	padding: 1em 0;
	text-transform: uppercase;
}
/*header*/
header {
	margin-top: 2em;
}
header ul {
	font-family: 'Old Standard TT', serif;
	text-transform: uppercase;
	list-style: none;
}
header li {
	display: inline-block;
}
header a {
	text-decoration: none;
	color: black;
}
header img {
	margin: 1em 0;
}
.nav {
	float:right;
	margin-top: 2em;
} 
.nav li {
	padding-left: 3em;
}
.nav a:hover {
	color: #5E5E5E;
}

/*main content*/

.wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.main-img {
	width: 100%;
	margin: 2em 0;
}
.title h1 {
	text-align: center;
}
.title hr {
  	border: 0.5px solid #CECECE;
}
.column { 
    float: left; 
    margin: 3em 2em; 
    width: 26%; 
}
.column:nth-child(4n) { 
    margin-right: 0; 
}
.column:nth-child(4n+1) { 
    clear: left; 
}
.column a,
.column li {
    font-size: 0.9em; 
    line-height: 1.6em;
}
.read-more {
    display: block;
    color: #A7A5A6;
    text-transform: uppercase;
    border: 2px solid #CECECE;
    float: left;
    padding: 12px 30px 10px;
    line-height: 1;
    margin-top: 20px;
}
/*footer*/

footer {
	width: 100%;
	background-color: #F1F4F5;
	margin-top: 2em;
}
footer li {
	width: 20%;
	list-style: none;
	padding: 0 9em;
}
